pkgbase = seeray-lens-admin
	pkgdesc = Desktop administration client for SeeRay Lens
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/skyhhjmk/seeray-lens
	arch = x86_64
	license = BSD-3-Clause
	makedepends = clang
	makedepends = cmake
	makedepends = flutter>=3.44.9
	makedepends = git
	makedepends = ninja
	makedepends = pkgconf
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = libdrm
	depends = libcups
	depends = libxcomposite
	depends = libxdamage
	depends = libxi
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = libxshmfence
	depends = libxtst
	depends = mesa
	depends = nspr
	depends = nss
	optdepends = xclip: clipboard paste support in embedded web views
	options = !debug
	source = seeray-lens-f80e8d6c9586dbad709e4885be049af18be1fccc.tar.gz::https://github.com/skyhhjmk/seeray-lens/archive/f80e8d6c9586dbad709e4885be049af18be1fccc.tar.gz
	source = seeray-lens-admin.desktop
	source = seeray-lens-admin.sh
	sha256sums = eb358a47e2205b0ceb42e1fbe964473db45522e4d6d938f4af56b687ef0cf31c
	sha256sums = 58ceef4c077d047361a5a6bfd6d5f98e5783ba04a323781e7c9f5c7b3d955cdc
	sha256sums = 2fae520b838883f0a36dd56616e746cff1f30083bcfc98841bef3f7acc00c9e0

pkgname = seeray-lens-admin
